<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<main class="container pt-4" style="margin-top: 55px;">

  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cadastrarProdutoModal">
    <i class="bi bi-plus-square-fill"></i>
    Adicionar produto
  </button>

<!-- tabela -->
<div class="container mt-2" >
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th scope="col">Categotia</th>
        <th scope="col">Preço</th>
        <th scope="col">Estoque</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let produto of produto" id="tabela">
        <td id="idProduto" >{{produto.id}}</td>
        <td id="fotoProduto" class="text-center"><img src="{{produto.foto}}" class="img-tabela"></td>
        <td id="nomeProduto" class="text-center">{{produto.nome}}</td>
        <td id="categoriaProduto" class="text-center">{{produto.categoria}}</td>
        <td id="precoProduto" class="text-center">{{produto.preco}}</td>
        <td id="qtdProduto" class="text-center">{{produto.estoque}}</td>
        <td class="text-center">
          <button id="btnExcluir" (click)="excluirProduto(produto)" class="btn btn-outline-danger">
            <i class="bi bi-trash"></i>
            Excluir
          </button>
        </td>
        <td class="text-center">
          <button id="btnEditar" (click)="abrirModalEditar(produto)" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editarProdutoModal">
            <i class="bi bi-pencil-square"></i>
            Editar
          </button>
        </td>
    </tbody>
  </table>
</div>
<!-- tabela -->

<!-- Modal cadastrar -->
<div class="modal fade" id="cadastrarProdutoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #64AEAA; color:white; ">
        <p class="display-6">Cadastrar produto</p>
        <button (click)="limparModalEditar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gy-2 gx-3 align-items-center">

          <div class="col-5">
            <label class="form-label" for="nomeCadastrar">Nome do produto</label>
            <input [(ngModel)]="produtoCadastrar.nome" name="nome" type="text" class="form-control" id="nomeCadastrar">
            <div id="nomeCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-3">
            <label class="form-label" for="categoriaCadastrar">Categoria</label>
            <select class="form-select" id="categoriaCadastrar" (change)="categoriaProduto($event)">
              <option selected value="0">Selecione uma categoria...</option>
              <option value="Painel solar">Painel solar</option>
              <option value="Transporte">Transporte</option>
            </select>
            <div id="categoriaCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-2">
            <label class="form-label" for="estoqueCadastrar">Estoque</label>
            <input [(ngModel)]="produtoCadastrar.estoque" name="estoque" type="text" class="form-control" id="estoqueCadastrar">
            <div id="estoqueCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-2">
            <label class="form-label" for="precoCadastrar" id="precoCadastrar" name="preco">Preço de venda</label>
            <input [(ngModel)]="produtoCadastrar.preco" name="preco" type="text" placeholder="R$ 0,00" class="form-control" id="precoCadastrar">
            <div id="precoCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-12">
            <div class="row">
              <label for="fotoCadastrar" class="form-label">Upload de foto</label>
              <div class="col-5">
                <input name="foto" class="form-control" type="file" id="input_img" (change)="carregarFoto($event)" accept="image/*">
                <img id="setFoto">
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <label for="descricaoCadastrar" class="form-label">Descrição do produto</label>
              <textarea [(ngModel)]="produtoCadastrar.descricao" name="descricao" class="form-control" id="descricaoCadastrar" rows="4"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center" style="background-color: #64AEAA;">
        <button type="button" class="btn btn-success" (click)="cadastrarProduto(produtoCadastrar)">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal cadastrar -->

<!-- Modal editar -->
<div class="modal fade" id="editarProdutoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #64AEAA; color:white;">
        <p class="display-6">Editar produto</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gy-2 gx-3 align-items-center">
          <div class="col-sm-2 text-center">
            <img id="fotoProdutoEditar">
          </div>

          <div class="col-4">
            <input [(ngModel)]="produtoEditar.id" name="id" type="text" id="idEditar" hidden="true">
            <label class="form-label" for="nomeEditar">Nome do produto</label>
            <input [(ngModel)]="produtoEditar.nome" name="nome" type="text" class="form-control" id="nomeEditar">
            <div id="nomeEditarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-2">
            <label class="form-label" for="categoriaEditar">Categoria</label>
            <select class="form-select" id="categoriaEditar">
              <option selected value="0">Selecione uma categoria...</option>
              <option value="Painel solar">Painel solar</option>
              <option value="Transporte">Transporte</option>
            </select>
            <div id="categoriaEditarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-2">
            <label class="form-label" for="estoqueEditar">Estoque</label>
            <input [(ngModel)]="produtoEditar.estoque" name="estoque" type="text" class="form-control" id="estoqueEditar">
            <div id="estoqueEditarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-2">
            <label class="form-label" for="precoEditar">Preço</label>
            <input [(ngModel)]="produtoEditar.preco" name="preco" type="text" class="form-control" id="precoEditar">
            <div id="precoEditarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <label for="descricaoEditar" class="form-label">Descrição do produto</label>
              <textarea [(ngModel)]="produtoEditar.descricao" name="descricao" class="form-control" id="descricaoEditar" rows="4"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center" style="background-color: #64AEAA;">
        <button type="button" class="btn btn-primary" (click)="atualizarProduto(produtoEditar)">Atualizar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal editar -->

<!-- Modal excluir -->
<div class="modal fade" id="excluirProdutoModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header alert-danger">
        <h5 class="modal-title" id="staticBackdropLabel">Você está excluindo um produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body alert-danger">
        <input name="id" id="idProdutoExcluir" hidden="true">
        <p class="">Tem certeza que deseja excluir o produto <label id="nomeProdutoExcluir"></label> ?</p>
        <label class="" id="nomeProdutoExcluir"></label>
      </div>
      <div class="modal-footer alert-danger">
        <button type="button" class="btn btn-danger" (click)="excluirProduto(produto)">Sim</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal excluir -->
</main>
