<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<main class="container pt-4" style="margin-top: 55px;">
  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cadastrarProdutoModal">
    <i class="bi bi-plus-square-fill"></i>
    Adicionar produto
  </button>

<!-- tabela -->
<div class="container mt-2">
  <table class="table table-sm">
    <thead>
      <tr>
        <th id="idProduto" scope="col" hidden="true">ID</th>
        <th scope="col">Foto</th>
        <th scope="col">Nome</th>
        <th scope="col">Categotia</th>
        <th scope="col">Preço</th>
        <th scope="col">Estoque</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle" *ngFor="let produto of produto">
        <th id="idProduto" scope="row" hidden="true">{{produto.id}}</th>
        <td class="text-center"><img src="{{produto.foto}}" class="img-tabela"></td>
        <td class="text-center">{{produto.nome}}</td>
        <td class="text-center">{{produto.categoria}}</td>
        <td class="text-center">{{produto.preco}}</td>
        <td class="text-center">{{produto.quantidade}}</td>
        <td class="text-center">
          <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#excluirProdutoModal">
            <i class="bi bi-trash"></i>
            Excluir
          </button>
        </td>
        <td class="text-center">
          <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editarProdutoModal">
            <i class="bi bi-pencil-square"></i>
            Editar
          </button>
        </td>
    </tbody>
  </table>
</div>
<!-- tabela -->

<!-- Modal cadastrar -->
<div class="modal fade" id="cadastrarProdutoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #64AEAA; color:white; ">
        <p class="display-6">Cadastrar produto</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gy-2 gx-3 align-items-center">
          <div class="col-5">
            <label class="form-label" for="nomeProduto">Nome do produto</label>
            <input type="text" class="form-control" id="nomeProduto">
            <div id="nomeProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-3">
            <label class="form-label" for="categoriaProduto">Categoria</label>
            <select class="form-select" id="categoriaProduto">
              <option selected>Selecione uma categoria...</option>
              <option value="2">Painel solar</option>
              <option value="3">Trasnporte</option>
            </select>
            <div id="categoriaProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-2">
            <label class="form-label" for="qtdProduto">Quantidade</label>
            <input type="text" class="form-control" id="qtdProduto">
            <div id="qtdProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-2">
            <label class="form-label" for="precoProduto" id="precoProduto" name="precoProduto">Preço de venda</label>
            <input type="text" placeholder="R$ 0,00" class="dinheiro form-control" id="precoProduto">
            <div id="precoProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-12">
            <div class="row">
              <label for="foto" class="form-label">Upload de foto</label>
              <div class="col-5">
                <input class="form-control" type="file" id="foto">
              </div>
              <div class="col">
                <button class="btn btn-success">
                  <i class="bi bi-file-earmark-arrow-up-fill"></i>
                  Enviar
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <label for="descricaoProduto" class="form-label">Descrição do produto</label>
              <textarea class="form-control" id="descricaoProduto" rows="4"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center" style="background-color: #64AEAA;">
        <button type="button" class="btn btn-success">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal cadastrar -->

<!-- Modal editar -->
<div class="modal fade" id="editarProdutoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #64AEAA; color:white;">
        <p class="display-6">Editar produto</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gy-2 gx-3 align-items-center">
          <div class="col-5">
            <label id="idProduto" hidden="true">idProduto</label>
            <label class="form-label" for="nomeProduto">Nome do produto</label>
            <input type="text" class="form-control" id="nomeProduto">
            <div id="nomeProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-3">
            <label class="form-label" for="categoriaProduto">Categoria</label>
            <select class="form-select" id="categoriaProduto">
              <option selected>Selecione uma categoria...</option>
              <option value="2">Painel solar</option>
              <option value="3">Trasnporte</option>
            </select>
            <div id="categoriaProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-2">
            <label class="form-label" for="qtdProduto">Quantidade</label>
            <input type="text" class="form-control" id="qtdProduto">
            <div id="qtdProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-2">
            <label class="form-label" for="precoProduto">Preço de venda</label>
            <input type="text" class="form-control" id="precoProduto">
            <div id="precoProdutoHelp" class="form-text">Campo obrigatorio</div>
          </div>
          <div class="col-12">
            <div class="row">
              <label for="foto" class="form-label">Upload de foto</label>
              <div class="col-5">
                <input class="form-control" type="file" id="foto">
              </div>
              <div class="col">
                <button class="btn btn-primary">
                  <i class="bi bi-file-earmark-arrow-up-fill"></i>
                  Atualizar
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <label for="descricaoProduto" class="form-label">Descrição do produto</label>
              <textarea class="form-control" id="descricaoProduto" rows="4"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center" style="background-color: #64AEAA;">
        <button type="button" class="btn btn-primary">Atualizar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal editar -->

<!-- Modal excluir -->
<div class="modal fade" id="excluirProdutoModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header alert-danger">
        <h5 class="modal-title" id="staticBackdropLabel">Você está excluindo um produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body alert-danger">
        <p class="display-6">Tem certeza?</p>
      </div>
      <div class="modal-footer alert-danger">
        <button type="button" class="btn btn-danger">Sim</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal excluir -->
</main>
