

  <div class="card" style="width: 300px;">
    <div class="card-header p-0 justify-content-center" style="height: 200px;">
      <img class="position-relative top-0 start-50 translate-middle-x" style="height: 150px;" src="assets/img/carro_preto.png">
      <div style="height: 20px;"><p class="text-center" style="font-size: 20pt;font-weight:bold ;">R$ 2.000,00</p></div>
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">Carro elétrico preto</h5>
      <p class="card-text">Produto disponível para assinatura.</p>
      <p class="card-text">Documentação e manutenção inclusas.</p>
    </div>
    <div class="footer btn btn-success d-grid gap-1">
      Saiba mais
    </div>
  </div>
