<div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto">
  <div class="col-4 " >
    <div class="card h-100"style="background: #708090; border-radius: 10px ">
      <img src="../../assets/img/carro_preto.png" height="350" width="350" class="card-img-top " alt="...">
      <div class="row ">
        <div class="card-body ">
          <h5 class="card-title">Carro Elétrico</h5>
          <p class="card-text">&#8658;Produto disponível para assinatura minima de 20 itens.</p>
          <p class="card-text">&#8658;Documentação e manutenção inclusas.</p>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button type="button" class="btn btn-danger">Saiba mais </button>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card h-100"style="background: #708090; border-radius: 10px ">
      <img src="../../assets/img/bicicleta.png" height="350" width="350" class="card-img-top " alt="...">
      <div class="row">
        <div class="card-body">
          <h5 class="card-title">Bicicleta Elétrica</h5>
          <p class="card-text">&#8658;Produto disponível para assinatura minima de 20 itens</p>
          <p class="card-text">&#8658;Manutenção inclusa.</p>
          <div class="d-grid gap-2 col-4 mx-auto">
            <button type="button" class="btn btn-danger">Saiba mais </button>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card h-100"style="background: #708090; border-radius: 10px ">
      <img src="../../assets/img/painel_solar_1.png" height="350" width="350" class="card-img-top " alt="...">
      <div class="row">
        <div class="card-body">
          <h5 class="card-title">Painel Solar</h5>
           <p class="card-text">&#8658;Produto disponível para assinatura minima de 20 itens.</p>
           <p class="card-text">&#8658;Documentação e manutenção inclusas.</p>
           <div class="d-grid gap-2 col-4 mx-auto">
           <button type="button" class="btn btn-danger">Saiba mais </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

