ul.social-network li{
  display: inline;

  margin: 0;
  padding: 3%;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 12pt;
}

footer{
  background-color: #64AEAA;
}

footer .footer-copyright{
  background-color: #276064;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

footer .footer-copyright span{
  font-size: large;
}

