<footer class="page-footer font-small pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 df-flex text-center">
                <p class="h4 text-white mb-4">Conheça nossos repositórios no Github</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center justify-content-center df-flex ">
                <ul class="social-network">
                    <li>
                        <a class="text-dark" href="https://github.com/guilhermeariza" target="_blank">
                            <img src="assets/icon/github.svg"> Guilherme Arizza
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="https://github.com/lucastheberge" target="_blank">
                            <img src="assets/icon/github.svg"> Lucas Theberge
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="https://github.com/Pamelaazeved0" target="_blank">
                            <img src="assets/icon/github.svg"> Pamela Azevedo
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="https://github.com/VanessaAntonio0102" target="_blank">
                            <img src="assets/icon/github.svg"> Vanessa Jesus
                        </a>
                    </li>
                    <li>
                        <a class="text-dark" href="https://github.com/ViniciusCampanholi" target="_blank">
                            <img src="assets/icon/github.svg"> Vinícius Campanholi
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            <span class="text-light">Desenvolvido por Elertech</span>
        </div>
    </div>
</footer>