main{
  margin-top: 100px;
}

img:hover{
  cursor: pointer;
}

.precoProduto{
  font-size: 20pt;
}

.descricaoProduto{
  font-size: 14pt;
}

.nomeProduto{
  font-size: 24pt;
  font-weight: bold;
}

.nomeProduto:hover{
  font-size: 24pt;
  font-weight: bold;
  cursor: pointer;
  text-decoration: solid;
}

.card{
  background-color: #DCDEDD;
  border: none;
}
