<div class="container">
    <div class="row shadow-lg mb-3" style="background: lightgray; border-radius: 10px; box-shadow: black, 10%;">
        <div class="col-3">
            <a href="#">
                <img src="assets/img/carro_preto.png" height="200" width="200"
                    class="img-fluid mx-auto d-block">
            </a>
        </div>
        <div class="col-9">
            <a href="#" style="text-decoration: none; color:black;">
                <p class="pt-3" style="font-size: 20pt;">Nome produto produto</p>
            </a>
            <div class="row">
                <div class="col-9">
                    <p><strong>Descrição: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="col-9">
                    <p class="" style="font-size: 24pt;"><strong>R$ </strong>2.000,00</p>
                </div>
            </div>
        </div>
    </div>
</div>