<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<div class="container-fluid bg-212 p-4">
  <h2 class="mb-4">Formas de pagamento</h2>
<!-- Botão para cadastrar cartão -->
  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cadastrarCartaoModal">
    <i class="bi bi-plus-square-fill"></i>
    Adicionar cartão
  </button>
  <!-- Botão para cadastrar cartão -->

  <!-- Tabela que irá listar os cartões -->
  <table class="table table-hover align-middle">
    <thead class="text-center">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Apelido</th>
        <th scope="col">Nome</th>
        <th scope="col">Numero</th>
        <th scope="col">Data de validade</th>
        <th scope="col">CVV</th>
      </tr>
    </thead>
    <tbody class="text-center" *ngFor="let cartao of listaCartao">
      <tr>
        <th scope="row">{{cartao.id}}</th>
        <td>{{cartao.apelido}}</td>
        <td>{{cartao.nomeCartao}}</td>
        <td>{{cartao.numeroCartao}}</td>
        <td>{{cartao.dataValidade}}</td>
        <td>{{cartao.cvv}}</td>
        <td>
          <button (focus)="abrirModalExcluir(cartao)" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#excluirCartaoModal"><i class="bi bi-trash"></i>Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Tabela que irá listar os cartões -->

<!-- Modal cadastrar -->
<div class="modal fade" id="cadastrarCartaoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width:1000px;">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #64AEAA; color:white; ">
        <p class="display-6">Cadastrar cartão</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row gy-2 gx-3 align-items-center">
          <div class="col-4">

            <label class="form-label" for="nomeCartaoCadastrar">Nome escrito no cartão</label>
            <input [(ngModel)]="cartao.nomeCartao" name="nome" type="text" class="form-control" id="nomeCartaoCadastrar">
            <div id="nomeCartaoCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-4">
            <label class="form-label" for="numeroCartaoCadastrar">Numero impressso no cartão</label>
          <input [(ngModel)]="cartao.numeroCartao" name="numero" type="text" class="form-control" id="numeroCartaoCadastrar">
            <div id="numeroCartaoCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-2">
            <label class="form-label" for="validadeCadastrar" id="validadeCadastrar" name="validadeCadastrar">Validade</label>
            <input [(ngModel)]="cartao.dataValidade" name="data" type="text" class="form-control" id="validadeCadastrar">
            <div id="validadeCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-2">
            <label class="form-label" for="cvvCadastrar" id="cvvCadastrar" name="cvvCadastrar">CVV</label>
            <input [(ngModel)]="cartao.cvv" name="cvv" type="text" class="form-control" id="cvvCadastrar">
            <div id="cvvHelpCadastrar" class="form-text">Campo obrigatorio</div>
          </div>

          <div class="col-4">
            <label class="form-label" for="apelidoCartaoCadastrar">Como você quer chamar este cartão?</label>
          <input [(ngModel)]="cartao.apelido" name="apelido" type="text" class="form-control" id="apelidoCartaoCadastrar">
            <div id="apelidoCartaoCadastrarHelp" class="form-text">Campo obrigatorio</div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center" style="background-color: #64AEAA;">
        <button type="button" class="btn btn-success" (click)="cadastrarCartao()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal cadastrar -->

<!-- Modal excluir -->
<div class="modal fade" id="excluirCartaoModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header alert-danger">
        <h5 class="modal-title" id="staticBackdropLabel">Você está excluindo o cartão {{cartao.apelido}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body alert-danger">
        <p class="display-6">Tem certeza?</p>
      </div>
      <div class="modal-footer alert-danger">
        <button type="button" class="btn btn-danger" (click)="excluir()">Sim</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal excluir -->
