<div class=" container d-block row w-75 mx-auto">

  <div class="row p-3 fw-bold mx-auto" style="background: rgb(237, 237, 237);">
    <div class="col">CARRINHOS COMPRADOS</div>
    <div class="col text-center"></div>
    <div class="col"></div>
  </div>

  <div class="mx-auto d-block  font fs-15 shadow-lg p-3 mb-5 bg-body rounded" style="background: rgb(255, 255, 255)">

    <div class="col-12 row-cols text-center alinhar">
      <div class="row col mt-5 fw-bold">
        <div class="col ">ID</div>
        <div class="col">TIPOS DE PRODUTOS</div>
        <div class="col">QUANTIDADE</div>
        <div class="col">TOTAL</div>
        <div class="col"></div>
      </div>
      <hr>

      <div class="row col mt-5 mb-5 alinhar">
        <div class="col fw-bold">1</div>
        <div class="col-sm ">4</div>
        <div class="col">40</div>
        <div class="col fw-bold">R$ 120.000,00</div>
        <div class="col">ABRIR CARRINHO</div>

      </div>
      <hr>


      <button type="button" class=" btn fs-20 fw-bold mt-5" style="background: #64AEAA;">Seguir
        para o pagamento</button>

    </div>

  </div>

</div>
