<div class="container w-75 p-3" style="margin-top: 55px; height: 100px;">
    <div class="row">
      <div class="col-md">
        <h1 style="text-align: center">SOBRE A ELERTECH</h1>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-4 ">
        <iframe width="420" height="236" src="https://www.youtube.com/embed/hvVlJ2OLPds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-2 ">
        <img src="pngwing.com (4) (1).png" alt="">
      </div>
      <div class="col-sm ">
        <h1>Missão</h1>
        <p style="font-size: 20px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum expedita dolorem possimus
          tempore quidem laborum ipsum, repellat doloremque quae? Ullam ex ad culpa nam similique molestiae, quis
          blanditiis molestias?</p>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-2">
        <img src="pngwing.com (2) (1).png" alt="">
      </div>
      <div class="col-sm">
        <h1>Visão</h1>
        <p style="font-size: 20px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum expedita dolorem possimus
          tempore quidem laborum ipsum, repellat doloremque quae? Ullam ex ad culpa nam similique molestiae, quis
          blanditiis molestias?</p>
      </div>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-2">
        <img src="pngwing.com (1).png" alt="">
      </div>
      <div class="col-sm">
        <h1>Valores</h1>
        <p style="font-size: 20px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum expedita dolorem possimus
          tempore quidem laborum ipsum, repellat doloremque quae? Ullam ex ad culpa nam similique molestiae, quis
          blanditiis molestias?</p>
      </div>
    </div>    
  </div>
