<div class="container col-11 bg border mg1">
    <form class="row g-3 mg2">
    <h5>Criar Conta</h5>
    </form>
    <form class="row g-3 mg2">
        <div class="col-md-4">
            <label for="NomeFantasia" class="form-label ">NomeFantasia</label>
            <input type="NomeFantasia" class="form-control" id="NomeFantasia">
        </div>
        <div class="col-md-4">
            <label for="Razao Social" class="form-label">Razao Social</label>
            <input type="Razao Social" class="form-control" id="Razao Social">
        </div>
        <div class="col-md-4">
            <label for="CNPJ" class="form-label">CNPJ</label>
            <input type="CNPJ" class="form-control" id="CNPJ">
        </div>

        <div class="col-md-4">
            <label for="E-mail" class="E-mail">E-mail</label>
            <input type="E-mail" class="form-control" id="E-mail">
        </div>
        <div class="col-md-6">
            <label for="Endereço" class="Endereço">Endereço</label>
            <input type="Endereço" class="form-control" id="Endereço">
        </div>
        <div class="col-md-2">
            <label for="CEP" class="Endereço">CEP</label>
            <input type="CEP" class="form-control" id="CEP">
        </div>
        <form class="row g-3 mg2">     
        <h5>Usuário e Senha</h5>
        </form>
        <div class="col-md-4">
            <label for="Usuario" class="form-label">Usuario</label>
            <input type="Usuario" class="form-control" id="Usuario">
        </div>
            <div class="col-md-6">
                <label for="Senha" class="form-label">Senha</label>
                <input type="Senha" class="form-control" id="Senha">
            </div>
            <div class="col-md-2">
                <label for="Confirma Senha" class="form-label">Confirma Senha </label>
                <input type="Confirma Senha" class="form-control" id="Confirma Senha">
            </div>
            <form class="row g-3">                                             
            </form>
            <div class="d-grid gap-2 col-2 mx-auto">
            <button type="button" class="btn btn-success"data-bs-toggle="modal" data-bs-target="#exampleModal">Cadastrar</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Elertech</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Cadastro efetivado com sucesso!
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>               
        <form class="row g-3 mg2">                                          
        </form>
        
       
