<div class="container row col mt-5 alinhar">
  <div class="col">
    <img src="../../assets/img/carro_preto.png" alt="" class=""
      style="max-width:90%; max-height:100%; width: auto; height: auto;">
  </div>
  <div class="col-sm ">Bike elétrica</div>
  <div class="col">40</div>
  <div class="col fw-bold">R$ 3.000,00</div>
  <div class="col fw-bold">R$ 120.000,00</div>
  <div class=" col form-check">
    <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
    <label for="defaultCheck1"></label>
  </div>
  <div class="col">
      <button type="button" class="fw-bold border border-white " style="width: 100%; background: white;" data-bs-toggle="modal" data-bs-target="#exampleModal">&times;</button>
  </div>
</div>
<hr>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Você tem certeza que deseja excluir (nomeDoProduto) do seu carrinho?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-danger w-50 " data-bs-dismiss="modal" >Tenho certeza</button>
      </div>
    </div>
  </div>
</div>
