.fs-15{
  font-size: 20px;
}

.filha{
  display: flex;
}

.hover-effect{
  position: relative;
  color: black;
  cursor: pointer;
  transition: all .5s;
}

.hover-effect:hover{
  transition: all .5s;
  background: #b3e2e0;
}


