.fs-15{
  font-size: 20px;
}

.filha{
  display: flex;
}

/* div.alinhar div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
} */


/*.hover-effect{
  display: flex;
  justify-content: center;

  position: relative;

  padding: 12px 0;

  font-size: 21px;
  line-height: 28px;
  font-weight: 300;

  color: black;
  text-decoration: none;

  overflow: hidden;
  cursor: pointer;
}

.hover-effect::before{
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;

  background: #dffffe;

  transition: all .5s;
  z-index: -1;
  width: 100%;
  height: 0%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hover-effect:hover::before{
  height: 680%;
}
*/






/*.hover-effect{

  position: relative;

  color: black;

  overflow: hidden;
  cursor: pointer;
}

.hover-effect::before{
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;

  background: #64AEAA;

  transition: all .5s;
  z-index: -1;
  width: 0;
  height: 100%;

  top: 0%;
  left: 0%;
}

.hover-effect:hover::before{
  width: 100%;
}*/


.hover-effect{

  position: relative;

  color: black;

  cursor: pointer;

  transition: all .5s;

}

.hover-effect:hover{

  transition: all .5s;

  background: #b3e2e0;

}


