img{
    max-width: 500px;
    max-height: 500px;
}

.container-fluid{
    background-color:#64aeaa
}

.container-fluid{
  box-shadow: 0 10px 12px 0 rgba(23, 21, 172, 0.2), 0 6px 20px 0 rgba(29, 141, 7, 0.19);
}


