<div class="container position-fixed col-12 ">
    <div class="container ">
        <div class="card" style="background: #feffdf;">
            <div class="card-body ">
                <h2>Cadastro do cliente</h2>
                <div class="row">
                    <div class="col-4">
                        <form>
                            <div class="form-group ">
                                <label>Nome Fantasia</label>
                                <input class="form-control" type="text" name="Nome Fantasia " id=""
                                    placeholder="Digite aqui">

                            </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Razão Social</label>
                            <input class="form-control" type="text" name="Razão Social" id="" placeholder="Digite aqui">

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>CNPJ</label>
                            <input class="form-control" type="text" name="CNPJ " id="" placeholder="Digite aqui">

                        </div>

                    </div>
                    </form>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <form>
                            <div class="form-group ">
                                <label>E-mail</label>
                                <input class="form-control" type="text" name="E-mail " id="" placeholder="Digite aqui">

                            </div>
                    </div>
                    <div class="col-7">
                        <div class="form-group">
                            <label>Endereço</label>
                            <input class="form-control" type="text" name="Endereço " id="" placeholder="Digite aqui">

                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>CEP</label>
                            <input class="form-control" type="text" name="CEP " id="" placeholder="Digite aqui">

                        </div>

                    </div>
                    </form>
                </div>
            </div>

            <div class="container">
                <h2>Usuario e senha </h2>
                <div class="row">
                    <div class="col-7">
                        <form>
                            <div class="form-group ">
                                <label>Usuario</label>
                                <input class="form-control" type="text" name="Usuario" id="" placeholder="Digite aqui">

                            </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label>Senha</label>
                            <input class="form-control" type="text" name="Senha " id="" placeholder="Digite aqui">

                        </div>
                    </div>


                </div>
                </form>
            </div>


            <div class="container">
                <h2>Cartão de Credito</h2>
                <div class="row">
                    <div class="col-3">
                        <form>
                            <div class="form-group ">
                                <label>Número impresso no cartão </label>
                                <input class="form-control" type="text" name="Número impresso no cartão " id=""
                                    placeholder="Digite aqui">

                            </div>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <label>CVV</label>
                            <input class="form-control" type="text" name="CVV " id="" placeholder="Digite aqui">

                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label>Data de validade </label>
                            <input class="form-control" type="text" name="Data de validade " id=""
                                placeholder="Digite aqui">

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Nome impresso no cartão </label>
                            <input class="form-control" type="text" name="Nome impresso no cartão " id=""
                                placeholder="Digite aqui">

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Apelido</label>
                            <input class="form-control" type="text" name="Apelido " id="" placeholder="Digite aqui">
                        </div>
                    </div>
                    </form>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Atualizar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>