<div class="container-fluid">
    <form>
        <div class="row">
            <h2 class="mb-4 mt-4">Atualização de cadastro</h2>
            <div class="col-4">
                <label for="nomeFantasia" class="form-label">Nome fantasia</label>
                <input type="text" class="form-control" id="nomeFantasia">
            </div>
            <div class="col-4">
                <label for="razaoSocial" class="form-label">Razao social</label>
                <input type="text" class="form-control" id="nomeFantasia">
            </div>
            <div class="col-4">
                <label for="cnpj" class="form-label">CNPJ</label>
                <input type="text" class="form-control" id="cnpj">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email@email.com">
            </div>
            <div class="col-5">
                <label for="endereço" class="form-label">endereço</label>
                <input type="text" class="form-control" id="endereço" placeholder="Rua tal, 321 - bairro tal - SP">
            </div>
            <div class="col-3">
                <label for="cep" class="form-label">CEP</label>
                <input type="email" class="form-control" id="cep" placeholder="00000-000">
            </div>
        </div>
    
        <div class="row mt-4">
            <h2>Usuário e senha</h2>
                <div class="col-4">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="usuario">
                </div>
                <div class="col-4">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha">
                </div>
                <div class="col-4">
                    <label for="senhaConfirmar" class="form-label">Confirmar senha</label>
                    <input type="password" class="form-control" id="senhaConfirmar">
                </div>
            </div>
            <div class="mx-auto mt-4">
                <button type="button" class="btn btn-md btn-success">Atualizar</button>
            </div>
            
    </form>

</div>