<div class=" container d-block row w-75 mx-auto">

  <div class="row p-3 fw-bold mx-auto font" style="background: rgb(237, 237, 237);">
    <div class="col"><u><a class="text-muted" href="#">CONTINUAR COMPRANDO</a></u></div>
    <div class="col text-center mr-15px">MEU CARRINHO(4)</div>
    <div class="col"></div>
  </div>

  <div class="mx-auto d-block  font fs-18 shadow-lg p-3 mb-5 bg-body rounded" style="background: rgb(255, 255, 255)">




    <div class="col-12 row-cols text-center alinhar">
      <div class="row col mt-5 fw-bold">
        <div class="col ">PRODUTOS</div>
        <div class="col"></div>
        <div class="col">QUANTIDADE</div>
        <div class="col">VALOR UNITÁRIO</div>
        <div class="col">TOTAL</div>
        <div class="col">SELECIONAR</div>
        <div class="col"></div>
      </div>
      <hr>



      <div class="row col mt-5 ">
        <div class="col">
          <img src="../../assets/img/carro_preto.png" alt="" class=""
            style="max-width:90%; max-height:100%; width: auto; height: auto;">
        </div>
        <div class="col">Moto elétrica</div>
        <div class="col">50</div>
        <div class="col fw-bold">R$ 4.000,00</div>
        <div class="col fw-bold">R$ 200.000,00</div>
        <div class=" col form-check ">
          <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
          <label for="defaultCheck1"></label>
        </div>
        <div class="col">
          <button type="button" class="close btn fw-bold" style="width: 100%;" data-toggle="modal"
            data-target="#meuModal">&times;</button>
        </div>
      </div>

      <hr>


      <div class="row col mt-5 ">
        <div class="col">
          <img src="../../assets/img/carro_preto.png" alt="" class=""
            style="max-width:90%; max-height:100%; width: auto; height: auto;">
        </div>
        <div class="col ">Bike elétrica</div>
        <div class="col">40</div>
        <div class="col fw-bold">R$ 3.000,00</div>
        <div class="col fw-bold">R$ 120.000,00</div>
        <div class=" col form-check">
          <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
          <label for="defaultCheck1"></label>
        </div>
        <div class="col">
          <button type="button" class="close btn fw-bold" style="width: 100%;" data-toggle="modal"
            data-target="#meuModal">&times;</button>
        </div>
      </div>

      <hr>



      <div class="row col mt-5 ">
        <div class="col">
          <img src="../../assets/img/carro_preto.png" alt="" class=""
            style="max-width:90%; max-height:100%; width: auto; height: auto;">
        </div>
        <div class="col">Monociclo elétrico</div>
        <div class="col">30</div>
        <div class="col fw-bold">R$ 2.000,00</div>
        <div class="col fw-bold">R$ 60.000,00</div>
        <div class=" col form-check ">
          <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
          <label for="defaultCheck1"></label>
        </div>
        <div class="col">
          <button type="button" class="close btn fw-bold" style="width: 100%;" data-toggle="modal"
            data-target="#meuModal">&times;</button>
        </div>
      </div>

      <hr>



      <div class="row col mt-5 ">
        <div class="col ">
          <img src="../../assets/img/carro_preto.png" alt="" class=""
            style="max-width:90%; max-height:100%; width: auto; height: auto;">
        </div>
        <div class="col">Painel Solar</div>
        <div class="col">20</div>
        <div class="col fw-bold">R$ 1.000,00</div>
        <div class="col fw-bold">R$ 20.000,00</div>
        <div class=" col form-check ">
          <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
          <label for="defaultCheck1"></label>
        </div>
        <div class="col">
          <button type="button" class="close btn fw-bold" style="width: 100%;" data-toggle="modal"
            data-target="#meuModal">&times;</button>
        </div>
      </div>


      <button type="button" class="mr-15px btn fs-20 fw-bold mt-5" style="background: rgb(66, 153, 171);">Seguir
        para o pagamento</button>



    </div>





  </div>
</div>









  <!-- Modal -->
  <div id="meuModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Conteúdo do modal-->
      <div class="modal-content">

        <!-- Cabeçalho do modal -->
        <div class="modal-header">
          <h4 class="modal-title">Excluir produto</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Corpo do modal -->
        <div class="modal-body">
          <p>Você tem certeza que deseja excluir (nomeDoProduto) do seu carrinho?</p>
        </div>

        <!-- Rodapé do modal-->
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-danger w-50 " data-dismiss="modal">Tenho certeza</button>
        </div>

      </div>
    </div>
  </div>
