<nav class="navbar text-white fixed-top" id="usuarioSenha">
  <div class="col-12 display-5 text-center">
    <a>Bem vindo a Elertech!</a>
  </div>
  <div class="col-12 text-center">
    <a>Se você possui um email corporativo, faça seu cadastro para acessar a gestão de produtos</a>
  </div>
</nav>
<main class="pt-4">
  <div class="container p-4 bg-212">
    <div class="row g-3 mg2 ">
      <h1>Criar Conta</h1>
    </div>
    <form class="row">
      <div class="col">
        <label for="nomeFantasia" class="form-label ">Nome Fantasia</label>
        <input [(ngModel)]='usuario.nomeFantasia' name="nomeFantasia" type="text" class="form-control" id="nomeFantasia">
      </div>
      <div class="col">
        <label for="razaoSocial" class="form-label">Razao Social</label>
        <input [(ngModel)]='usuario.razaoSocial' name="razaoSocial" type="text" class="form-control" id="razaoSocial">
      </div>
      <div class="col">
        <label for="cnpj" class="form-label">CNPJ</label>
        <input [(ngModel)]='usuario.cnpj' name="cnpj" type="text" class="form-control" id="cnpj" maxlength="18">
      </div>

      <div class="row pt-5">
        <h1>Usuário e Senha</h1>
      </div>
      <div class="col-md-4">
        <label for="cadastrar" class="form-label">Usuario</label>
        <input [(ngModel)]='usuario.usuario' type="text" class="form-control" name="cadastrar" id="usuarioCadastrar">
      </div>
      <div class="col-md-4">
        <label for="senha" class="form-label">Senha</label>
        <input (input)='confirmSenha($event)' type="password" class="form-control" name="senha" id="senha" aria-describedby="passwordHelp">
        <small id="passwordHelp" class="form-text text-secondary">Digite sua senha com 8 caracteres</small>

      </div>
      <div class="col-md-4">
        <label for="confirmSenha" class="form-label">Confirma Senha </label>
        <input [(ngModel)]='usuario.senha' name="senha" type="password" class="form-control" id="confirmSenha" aria-describedby="passwordHelp">
        <small id="passwordHelp" class="form-text text-secondary">Digite sua senha com 8 caracteres</small>
      </div>
      <form class="row g-3">
      </form>
      <div class="d-grid gap-2 col-2 mx-auto">
        <button type="button" class="btn btn-success" (click)="cadastrar(usuario)">Cadastrar</button>
        <button type="button" class="btn btn-danger" routerLink="/login">Cancelar</button>
      </div>
    </form>
  </div>
</main>
<app-footer></app-footer>
