<div class="container-fluid d-flex row justify-content-center col-12  " >
  <div class="container-fluid d-flex row justify-content-center  col-12 col-md-6 col-lg-6 ">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/bicicleta_01.gif" class="d-block w-100 " alt="...">
      <h5  class= "text-center">Bicicletas Elétricas</h5>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/carro_01.gif" class="d-block w-100"    alt="...">
      <h5  class= "text-center">Carros Elétricos</h5>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/monociclo_01.gif" class="d-block w-100"   alt="...">
      <h5  class= "text-center">Monociclos Elétricos</h5>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/moto_01.gif" class="d-block w-100"   alt="...">
      <h5  class= "text-center">Motos Elétricas</h5>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/bike_pcd_01.gif" class="d-block w-100"   alt="...">
      <h5  class= "text-center">Veiculos PCD </h5>
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/painel.gif" class="d-block w-100" width="250" height="339" alt="...">
      <h5  class= "text-center">Painéis Solares </h5>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
<!--Separador-->
<div class="p-4"><br></div>
<!--/Separador-->