img{
  max-width: 350px;
  max-height: 350px;
}

.card{
  background-color: #DCDEDD;
  box-shadow: 0 10px 12px 0 rgba(23, 21, 172, 0.2), 0 6px 20px 0 rgba(18, 77, 6, 0.19);
}

.card-footer{
  background-color: #DCDEDD;
}

#num{
    text-align: center;
}

.modal-header{
  background-color: #64AEAA;
}

.modal-footer{
  background-color: #64AEAA;
}
