.h1{
    font-size: 25pt;
}

img{
  max-width: 350px;
  max-height: 350px;
}

#num{
    text-align: center;
}

.preco{
    text-align: end;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DCDEDD;
}

.paragrafo{
    font-size:15pt;
}

#outrocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#exampleModalLabel{
    text-align: center;
    color: black;
}

.estoque{
    font-size: 8pt;
    text-align: end;

}

