main{
  background-color: #DCDEDD;
}
.card{
    width: 400px;
    height: 450px;
    box-shadow: 0 10px 12px 0 rgba(23, 21, 172, 0.2), 0 6px 20px 0 rgba(29, 141, 7, 0.19);
    margin-top: 50px;
    margin-bottom: 10px;
}

div label{
    width:296px;
    height:15px;
}

.card-header{
    background-color: #64aeaa;
    border: #64aeaa;
}

.card-header p{
    color: white;
    font-size: 15pt;
    font-weight: bold;
}

.card-footer{
    background-color: #64aeaa;
    border: #64aeaa;
}

.card-footer a{
    color: white;
}
