<main>
  <div class="d-flex justify-content-center">
    <div class="card text-dark bg-white">
      <div class="card-header text-center pb-0">
        <p>Bem vindo a Elertech!</p>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group mt-2 mb-4">
            <label for="emal_login">Usuario</label>
            <input [(ngModel)]="usuarioLogin.usuario" name="usuario" type="email" class="form-control" id="emal_login"
              placeholder="usuario@example.com" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-secondary">Digite seu endereço de email
              cadastrado</small>
          </div>
          <div class="form-group mb-4">
            <label for="senha_login">Senha</label>
            <input [(ngModel)]="usuarioLogin.senha" name="senha" type="password" class="form-control" id="senha_login"
              aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-secondary">Digite a senha com no mínimo 8
              caracteres</small>
          </div>
          <div class="row justify-content-center">
            <div class="col-7 d-grid gap-2">
              <button (click)="entrar()" class="btn btn-success" type="button">Entrar</button>
              <button class="btn btn-outline-primary" type="button" routerLink="/criarconta">Criar conta</button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div>
          <a routerLink="/sobre">Sobre</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <a routerLink="/administracaoelertech">É funcionario? crie sua conta aqui</a>
  </div>
</main>
