<main >

  <div class="row p-4 d-flex">
    <div class="container d-flex col-5 row w-50 fs-17" style="margin-left: 80px">

      <div class="row col-lg-12 p-3 fw-bold mx-auto rounded" style="background: rgb(237, 237, 237);">
        <div class="col"><u><a class="text-muted" routerLink="/inicio">CONTINUAR COMPRANDO</a></u></div>
        <div class="col text-center">MEU CARRINHO(4)</div>
        <div class="col"></div>
      </div>
      <div class="mx-auto d-block  font fs-17 shadow-lg p-3 mb-5 bg-body rounded"
        style="background: rgb(255, 255, 255)">
        <div class="col-12 row-cols text-center alinhar">
          <div class="row col mt-5 fw-bold">
            <div class="col">PRODUTOS</div>
            <div class="col"></div>
            <div class="col">QUANTIDADE</div>
            <div class="col">VALOR UNITÁRIO</div>
            <div class="col">SUBTOTAL</div>
            <div class="col"></div>
          </div>
          <hr>
          <div class="row col mt-5 alinhar" *ngFor="let item of listaCarrinho">
            <div class="col">
              <img src="{{item.foto}}" style="max-width:90%; max-height:100%; width: auto; height: auto;">
            </div>
            <div class="col-sm ">{{item.nomeProduto}}</div>
            <div class="col">{{item.quantidade}}</div>
            <div class="col fw-bold">R$ {{item.valorUnitario}}</div>
            <div class="col fw-bold">R$ {{item.valorTotal}}</div>
            <div class="col">
              <button (click)="excluirProduto(item.id, item.idProduto, item.quantidade)" type="button" class="fw-bold border border-white "
                style="width: 80%; height: 80%; background: white;">
                <h4>&times;</h4>
              </button>
            </div>
          </div>
          <hr>
          <div class="col-12 row fs-17 alinhar">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col fw-bold ">Total:</div>
            <div class="col">R$ {{somaDosProdutos}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-4">
      <div class="row mb-5">
        <label class="h3 mb-4">Selecione um endereço de entrega</label>
        <select class="form-select" id="categoriaCadastrar">
          <option *ngFor="let endereco of listaEndereco" value="{{endereco.endereco}}">Endereço: {{endereco.endereco}}
            -
            {{endereco.cep}}</option>
        </select>
      </div>
      <hr>
      <div class="row mb-5">
        <label class="h3 mt-4">Selecione forma de pagameto</label>
        <select class="form-select" id="categoriaCadastrar">
          <option *ngFor="let cartao of listaCartao" value="{{cartao.numeroCartao}}">{{cartao.apelido}} -
            {{cartao.numeroCartao}}</option>
        </select>
      </div>
      <div class="row">
        <button class="btn btn-success block" (click)="finalizarPedido()">Finalizar
          Pedido</button>
      </div>
    </div>
  </div>
</main>
