<main class="pt-4" style="margin-top:55px; ">

  <div class=" container d-block row w-75 mx-auto fs-17">

    <div class="row col-lg-12 p-3 fw-bold mx-auto rounded" style="background: rgb(237, 237, 237);">
      <div class="col"><u><a class="text-muted" href="#">CONTINUAR COMPRANDO</a></u></div>
      <div class="col text-center">MEU CARRINHO(4)</div>
      <div class="col"></div>
    </div>

    <div class="mx-auto d-block  font fs-17 shadow-lg p-3 mb-5 bg-body rounded" style="background: rgb(255, 255, 255)">

      <div class="col-12 row-cols text-center alinhar">
        <div class="row col mt-5 fw-bold">
          <div class="col ">PRODUTOS</div>
          <div class="col"></div>
          <div class="col">QUANTIDADE</div>
          <div class="col">VALOR UNITÁRIO</div>
          <div class="col">SUBTOTAL</div>
          <div class="col">SELECIONAR</div>
          <div class="col"></div>
        </div>
        <hr>

        <div class="row col mt-5 ">
          <div class="col">
            <img src="../../assets/img/carro_preto.png" alt="" class=""
              style="max-width:90%; max-height:100%; width: auto; height: auto;">
          </div>
          <div class="col-sm ">Bike elétrica</div>
          <div class="col">40</div>
          <div class="col fw-bold">R$ 3.000,00</div>
          <div class="col fw-bold">R$ 120.000,00</div>
          <div class="col">
            <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
            <label for="defaultCheck1"></label>
          </div>
          <div class="col">
              <button type="button" class="fw-bold border border-white " style="width: 80%; height: 80%; background: white;" data-bs-toggle="modal" data-bs-target="#excluirProdutoModal"><h4>&times;</h4></button>
          </div>
        </div>
        <hr>
        <div class="row col mt-5 ">
          <div class="col">
            <img src="../../assets/img/carro_preto.png" alt="" class=""
              style="max-width:90%; max-height:100%; width: auto; height: auto;">
          </div>
          <div class="col-sm ">Bike elétrica</div>
          <div class="col">40</div>
          <div class="col fw-bold">R$ 3.000,00</div>
          <div class="col fw-bold">R$ 120.000,00</div>
          <div class="col">
            <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
            <label for="defaultCheck1"></label>
          </div>
          <div class="col">
              <button type="button" class="fw-bold border border-white " style="width: 80%; height: 80%; background: white;" data-bs-toggle="modal" data-bs-target="#excluirProdutoModal"><h4>&times;</h4></button>
          </div>
        </div>
        <hr>
        <div class="row col mt-5 ">
          <div class="col">
            <img src="../../assets/img/carro_preto.png" alt="" class=""
              style="max-width:90%; max-height:100%; width: auto; height: auto;">
          </div>
          <div class="col-sm ">Bike elétrica</div>
          <div class="col">40</div>
          <div class="col fw-bold">R$ 3.000,00</div>
          <div class="col fw-bold">R$ 120.000,00</div>
          <div class="col">
            <input type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
            <label for="defaultCheck1"></label>
          </div>
          <div class="col">
              <button type="button" class="fw-bold border border-white " style="width: 80%; height: 80%; background: white;" data-bs-toggle="modal" data-bs-target="#excluirProdutoModal"><h4>&times;</h4></button>
          </div>
        </div>
        <hr>
        <div class="row col mt-5 ">
          <div class="col">
            <img src="../../assets/img/carro_preto.png" alt="" class=""
              style="max-width:90%; max-height:100%; width: auto; height: auto;">
          </div>
          <div class="col-sm ">Bike elétrica</div>
          <div class="col">40</div>
          <div class="col fw-bold">R$ 3.000,00</div>
          <div class="col fw-bold">R$ 120.000,00</div>
          <div class="col">
            <input class="check" type="checkbox" value="" id="defaultCheck1" style="width: 20px; height: 20px;">
            <label for="defaultCheck1"></label>
          </div>
          <div class="col">
              <button type="button" class="fw-bold border border-white " style="width: 80%; height: 80%; background: white;" data-bs-toggle="modal" data-bs-target="#excluirProdutoModal"><h4>&times;</h4></button>
          </div>
        </div>
        <hr>

        <div class="col-12 row fs-17 alinhar">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col fw-bold " >Total:</div>
          <div class="col" >R$ 480.000</div>
        </div>


        <button type="button" class=" btn fs-20 fw-bold mt-5" style="background: #64AEAA;">Seguir
          para o pagamento</button>

      </div>

    </div>

  </div>

  <div class="modal fade" id="excluirProdutoModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header alert-danger">
          <h5 class="modal-title" id="staticBackdropLabel">Você está excluindo um produto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body alert-danger">
          <p class="display-6">Tem certeza?</p>
        </div>
        <div class="modal-footer alert-danger">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sim</button>
        </div>
      </div>
    </div>
  </div>
</main>
