<main class="container pt-4" style="margin-top: 55px;">
    
    <div class="p-3 mb-2 bg-light text-dark">
    <div class="row">
        <h1>Missão</h1>
    </div>
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa corrupti porro maxime autem. Doloremque,
            odio deserunt aut eligendi eius nobis dolor repellendus ipsam? Autem accusamus minima maiores
            consequatur illo earum?</p>
    </div>
    <hr>
    <div class="row">
        <h1>Visão</h1>
    </div>
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa corrupti porro maxime autem. Doloremque,
            odio deserunt aut eligendi eius nobis dolor repellendus ipsam? Autem accusamus minima maiores
            consequatur illo earum?</p>
    </div>
    <hr>
    <div class="row">
        <h1>Valores</h1>
    </div>
    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa corrupti porro maxime autem. Doloremque,
            odio deserunt aut eligendi eius nobis dolor repellendus ipsam? Autem accusamus minima maiores
            consequatur illo earum?</p>
    </div>
</div>
</main>