<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela cartão</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
</html>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela cartão</title>
</head>
<body>  
  
  <div class="mb-2">
    <label for="formGroupExampleInput" class="form-label">Número do Cartão</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira o número impresso no cartão">
  </div>
  <div class="mb-2">
    <label for="formGroupExampleInput2" class="form-label">Nome Completo</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nome e Sobrenome">
  </div>
  <div class="mb-2">
    <label for="formGroupExampleInput" class="form-label">Data de Vencimento</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="00/00/0000">
  </div>
  <div class="mb-2">
    <label for="formGroupExampleInput2" class="form-label">Código de Segurança</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Impresso atrás do cartão">
  </div>
  <table class="table table-striped">    
  </table>
  

</body>
</html>
