main{
  margin-top: 62px;
  height: 100%;
}

body{
  height: 100vh;
}

html{
  min-height: 100%;
}

.cont{
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* app-carrinho{
  min-height: 100%;
} */

app-card-login{
  height: 100%;

}

/* app-card-pesquisa-produto{
  min-height: calc(100vh - 30px);
} */

app-historico-pedidos{
  min-height:80%;
}

app-footer{
  height: 100%;
}

app-cadastro-adm{
  height: 300%;
}
