main{
  margin-top: 62px;
}

body{
  height: 100vh;
}

html{
  min-height: 100%;
}

.cont{
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-carrinho{
  height: 100%;
}

app-card-login{
  height: 100%;

}
app-card-pesquisa-categoria{
  height: 100%;
}
