main{
  margin-top: 62px;
}

body{
  height: 100vh;
}

html{
  min-height: 100%;
}

.cont{
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-carrinho{
  min-height: 100%;
}

app-card-login{
  height: 100%;

}

app-card-pesquisa-produto{
  min-height: calc(100vh - 30px);
}

app-historico-pedidos{
  min-height:100%;
}

app-footer{
  height: 100%;
}
