<div class="d-flex position-absolute top-50 start-50 translate-middle">
    <div class="shadow-lg card text-dark bg-white" style="width: 400px; height: 450px;">
        <div class="card-header text-center">
            <p class="fw-bold">Bem vindo a Elertech, digite seu email e senha</p>
        </div>
        <div class="card-body align-items-center">
            <form>
                <div class="form-group mb-4">
                    <label for="emal_login" style="width:296px; height:15px">Email</label>
                    <input type="email" class="form-control" id="emal_login" placeholder="name@example.com"
                        aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-secondary">Digite seu endereço de email
                        cadastrado</small>
                </div>
                <div class="form-group mb-4">
                    <label for="senha_login" style="width:296px; height:15px">Senha</label>
                    <input type="password" class="form-control" id="senha_login" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-secondary">Digite a senha com no mínimo 8
                        caracteres</small>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 d-grid gap-2">
                        <button class="btn btn-success" type="button">Entrar</button>
                        <button class="btn btn-outline-primary" type="button">Criar conta</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <a href="sobre.html" class="card-link">Sobre</a>
            <a href="contato.html" class="card-link">Contato</a>
        </div>
    </div>
</div>