main{
  margin-top: 100px;
}
.precoProduto{
  font-size: 20pt;
}

.descricaoProduto{
  font-size: 14pt;
}

.nomeProduto{
  font-size: 24pt;
  font-weight: bold;
}

.card{
  background-color: #DCDEDD;
  border: none;
}
